<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{:U('rbac/add_role_user_handle')}">
    <foreach name="info" key="k" item="v">
        <div><input type="checkbox" value="{$v['id']}" name="role_id[]"<if condition="$v['include'] eq 1">checked</if>><span>{$v['remark']}</span></div>
    </foreach>
    <input type="hidden" name="id" value="{$uid}">
    <input type="submit" value="确定修改">
</form>
<a href="{:U('rbac/user')}">返回</a>
</body>
</html>