<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
节点操作
<table>
    <tr>
        <th>控制器名称</th>
        <th>控制器备注</th>
        <th>开启状态</th>
        <th>操作</th>
    </tr>
    <foreach name="info" item="v">
        <tr>
            <td>{$v['name']}</td>
            <td>{$v['title']}</td>
            <td>{$v['status']}</td>
            <td><a href="{:U('Rbac/add_action_show',array('id'=>$v['id']))}">添加方法</a></td>
        </tr>
    </foreach>
    <tr>
        <td colspan="4"><a href="{:U('Rbac/add_controller_show',array('id'=>$id))}" >添加应用</a></td>
    </tr>
</table>
<a href="{:U('rbac/add_node')}">返回</a>
</body>
</html>